@model IEnumerable<Post>

@{ 

}

@*<h2>Home Page</h2>
<img src="~/content/static/home-office-336581_1920.jpg" width="500"/>*@
<div class="main-img">
    <span class="title">Amazing Simple Blog Site</span>
</div>
<div class="container">
    @*<ul>
            @foreach (var post in Model)
            {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </li>
            }
        </ul>*@
    @foreach (var post in Model)
    {
        var imagePath = $"/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@imagePath" width="500" />
            <span class="title">
                @post.Title
            </span>
        </a>
    }

</div>