@model Post
@{ 

}

@*<div>
    <h2>@Model.Title</h2>

    @if(!string.IsNullOrEmpty(Model.Image))
    {
        var imagePath = $"/Image/{Model.Image}";
        <img src="@imagePath" width="500"/>
    }

    <p>@Model.Body</p>
</div>*@

<div class="container">
    <div class="post no-shadow">
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            var imagePath = $"/Image/{Model.Image}";
            <img src="@imagePath"/>
            <span class="title">@Model.Title</span>
        }
    </div>
    <div class="post-body">
        @Html.Raw(Model.Body)
    </div>
</div>